<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      content="width=device-width, initial-scale=1.0"
      name="viewport"
    />
    <title>San Juan App - Proximamente</title>
    <meta content="" name="descriptison" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon" />
    <link
      href="assets/img/apple-touch-icon.png"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Satisfy"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link href="icofont/icofont.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="css/style.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: Maundy - v2.0.0
  * Template URL: https://bootstrapmade.com/maundy-free-coming-soon-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
      <div class="container d-flex flex-column align-items-center">
        <div class="logo"><a href="/">San Juan App</a></div>
        <h2 class="pt-3" style="text-align: center;">
          Lastimosamente no pudimos procesar tu pedido. Intente de nuevo mas tarde (Error 500)
        </h2>
        <div>
          <img
            src="img/toro_mid.png"
            height="200px"
            width="200px"
            alt=""
          />
        </div>
        <h2>
        <div class="subscribe"></div>
      </div>
    </header>
    <!-- End #header -->

    <main id="main">
      <!-- ======= Contact Us Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <div class="section-title">
            <h2>
              <a href="/">VOLVER</a>
            </h2>
          </div>
        </div>
      </section>
      <!-- End Contact Us Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <%- include('../partials/footer')%>
    <!-- End #footer -->
  </body>
</html>
