<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      content="width=device-width, initial-scale=1.0"
      name="viewport"
    />
    <title>San Juan App - Proximamente</title>
    <meta content="" name="descriptison" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon" />
    <link
      href="assets/img/apple-touch-icon.png"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Satisfy"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link href="icofont/icofont.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="css/style.css" rel="stylesheet" />

    <!-- RECAPTCHA SCRIPT -->
    <script
      scr="https://www.google.com/recaptcha/api.js"
      async
      defer
    ></script>

    <!-- =======================================================
  * Template Name: Maundy - v2.0.0
  * Template URL: https://bootstrapmade.com/maundy-free-coming-soon-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
      <div class="container d-flex flex-column align-items-center">
        <div class="logo">San Juan App</div>
        <h2 class="pt-3" style="text-align: center;">
          Estamos trabajando para poder ofrecerles un servicio nuevo
        </h2>
        <div>
          <img
            src="img/toro_mid.png"
            height="200px"
            width="200px"
            alt=""
          />
        </div>

        <div class="subscribe"></div>

        <div class="social-links text-center">
          <h2>Encuentranos en</h2>
          <a href="https://twitter.com/SanJuanApp1" class="twitter"
            ><i class="icofont-twitter"></i
          ></a>
          <a
            href="https://www.facebook.com/SanJuanLocations/"
            class="facebook"
            ><i class="icofont-facebook"></i
          ></a>
        </div>
      </div>
    </header>
    <!-- End #header -->

    <main id="main">
      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="section-title">
            <h2>Acerca de Nosotros</h2>
            <p>
              San Juan App nació en el 2019 con el objetivo de poder
              ayudar a todos los fanáticos del pastel mandi'ó a
              encontar la fiesta de San Juan mas cercana.
              Lastimosamente, el 2020 nos dejó sin una de nuestras
              fiestas favoritas pero eso no detuvo a nuestros
              compatriotas de preparar deliciosas comidas típicas y
              venderlas a través de un servicio de delivery. Hoy, San
              Juan App ayudará a más personas a comprar y vender esas
              delicias de otoño que siempre tienen un lugar en nuestro
              corazón (o estómago)
            </p>
          </div>

          <div class="row mt-2 pt-3">
            <div class="col-lg-4 col-md-6 icon-box">
              <div class="icon">
                <i class="icofont-search-restaurant"></i>
              </div>
              <h4 class="title"><a href="">Buscá</a></h4>
              <p class="description">
                Vas a poder encontrar lo que quieras comer según
                cercanía, precio o disponibilidad
              </p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
              <div class="icon">
                <i class="icofont-ui-touch-phone"></i>
              </div>
              <h4 class="title"><a href="">Pedí</a></h4>
              <p class="description">
                Todas las opciones tendrán un número de teléfono para
                ponerte en contacto con el vendedor
              </p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
              <div class="icon"><i class="icofont-star"></i></div>
              <h4 class="title">
                <a href="">Disfrutá</a>
              </h4>
              <p class="description">
                Existe algo mas genial que disfrutar de un mbejú con
                cocido con este clima?
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Us Section -->

      <!-- ======= Contact Us Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <div class="section-title">
            <h2>Contacto</h2>
            <p>
              Querés ofrecer tu servicio de venta de comidas típicas?
            </p>
            <p>
              Mandanos la información a través de nuestras redes
              sociales y nosotros nos encargaremos del resto. No te
              olvides de incluir los siguientes datos:
            </p>
          </div>

          <div
            class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch"
          >
            <form
              action="/"
              method="POST"
              role="form"
              class="php-email-form"
            >
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Nombre</label>
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    id="name"
                  />
                  <div class="validate"></div>
                </div>
                <div
                  class="g-recaptcha"
                  data-sitekey="6Lfo8_kUAAAAAFyf6Elqb5T7ZgGpRKkOHODcqA0Y"
                ></div>
              </div>
              <div class="mb-3"></div>
            </form>
          </div>
        </div>
      </section>
      <!-- End Contact Us Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <%- include('../partials/footer')%>
    <!-- End #footer -->
  </body>
</html>
